<!DOCTYPE html>
<html lang="en">
<head>
  
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  	<title>Services</title>

  	<!-- font-awesome -->
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  	<!-- slick-css -->
  	<link rel="stylesheet" href="css/slick.css">
  	<!-- scroll-bar-css -->
  	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
  	<!-- bootstrap css -->
  	<link rel="stylesheet" href="css/bootstrap.min.css">
  	<!-- style css -->
  	<link rel="stylesheet" href="css/style.css">

</head>

<body>
	<header>
		<div class="container-fluid">
			<div class="d-flex justify-content-between align-items-center">
				<div class="d-flex align-items-center">
					<div class="hamburger" onclick="myFunction(this)">
						<div class="bar_1"></div>
						<div class="bar_2"></div>
						<div class="bar_3"></div>
					</div>
					<div class="logo">
						<a href="index.html">
							<img src="images/logo.png" alt="Logo">
						</a>
					</div>
					<div class="search_br transition">
						<input type="text" placeholder="Search">
						<div class="h-search-btn">
							<img src="images/search.png" alt="image">
						</div>
						<!-- Auto serarch popup -->
						<div class="autosearch-popup">	
							<ul>
								<li>
									<a href="javaScript:;">lorem ipsum</a>
								</li>
								<li>
									<a href="javaScript:;">lorem ipsum</a>
								</li>
								<li>
									<a href="javaScript:;">lorem ipsum</a>
								</li>
								<li>
									<a href="javaScript:;">lorem ipsum</a>
								</li>
							</ul>						
						</div>
						<!-- Auto serarch popup end-->
					</div>
				</div>
				<div class="d-flex align-items-center">
					<div class="h_links transition">
						<ul>
							<li>
								<a href="about-us.html" class="transition">About Pieorama</a>
							</li>
							<li>
								<a href="pie-history.html" class="transition">A Bit of Pie History</a>
							</li>
						</ul>
						<i class="fas fa-times"></i>
					</div>
					<div class="mb_srch_bar">
						<i class="fas fa-search"></i>
					</div>
					<div class="mb_slide">
						<i class="fas fa-ellipsis-v"></i>
					</div>
					<div>
						<ul class="h_icons">
							<li>
								<a href="javascript:;">
									<img src="images/list.png" alt="images">
								</a>
							</li>
							<li>
								<a href="notifications.html" class="notifi-icon">
									<span class="pend-notifi" style="display: none;">0</span>
								</a>
							</li>
							<li>
								<a class="name dropdown-toggle " href="javascript:;" data-toggle="dropdown">
									<span class="h_unfl">C</span>
									<img src="images/user-image2.png" alt="" class="h_prof-image">
								</a>
								<div class="dropdown-menu">
							      <a class="dropdown-item" href="my-profile.html">My Profile</a>
							      <a class="dropdown-item" href="my-pieorama-friends.html">My Pieorama Friends</a>
							      <a class="dropdown-item" href="javascript:;">Setting</a>
							      <a class="dropdown-item" href="before-login.html">Logout</a>
							    </div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- left-panel -->

	<div class="left_panel mCustomScrollbar" data-mcs-theme="light-thick">
		<ul>
			<li>
				<a href="index.html">
					<div class="icon"></div>
					<div class="txt">Home</div>
				</a>
			</li>
			<li>
				<a href="channel.html">
					<div class="icon icon2"></div>
					<div class="txt">Pieable Moments</div>
				</a>
			</li>
			<li>
				<a href="channel.html">
					<div class="icon icon3"></div>
					<div class="txt">Trending</div>
				</a>
			</li>
			<li>
				<a href="channel.html">
					<div class="icon icon5"></div>
					<div class="txt">Just 4 Fun</div>
				</a>
			</li>
			<li>
				<a href="channel.html">
					<div class="icon icon6"></div>
					<div class="txt">Media & Politics</div>
				</a>
			</li>
			<li>
				<a href="channel.html">
					<div class="icon icon7"></div>
					<div class="txt">Lifestyle</div>
				</a>
			</li>
			<li>
				<a href="channel.html">
					<div class="icon icon8"></div>
					<div class="txt">Science</div>
				</a>
			</li>
			<li>
				<a href="channel.html">
					<div class="icon icon9"></div>
					<div class="txt">Celebrities</div>
				</a>
			</li>
		</ul>
	</div>

	<!-- right-panel -->

	<div class="right_panel">
		<div class="vd_container fff_bg">
			<h1 class="page-title">Services</h1>
			<span class="page-subtitle">Last updated: May 24, 2019</span>
			<div class="mt-4">
				<p class="body-text">
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
				</p>
				<p class="body-text">
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
				</p>
				<p class="body-text">
					IMany desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years.
				</p>
				<p class="body-text">
					Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years.
				</p>
				<ul class="about_listing">
					<li class="body-text">How we collect information form you</li>
					<li class="body-text">What type of information is collected ?</li>
					<li class="body-text">Your individual rights</li>
				</ul>
			</div>

			<div class="mt-4">
				<span class="page-subtitle">Navigation This Policy</span>
				<div class="mt-4">
					<p class="body-text">
						There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
					</p>
					<p class="body-text">
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
					</p>
					<p class="body-text">
						IMany desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years.
					</p>
					<p class="body-text">
						Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years.
					</p>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-between">
				<div>
					<a href="index.html">
						<img src="images/logo-white.png" alt="Logo">
					</a>
				</div>
				<div class="footer_links">
					<ul>
						<li>
							<a href="index.html" class="transition">HOME</a>
						</li>
						<li>
							<a href="privacy-policy.html" class="transition">PRIVACY</a>
						</li>
						<li>
							<a href="terms-of-use.html" class="transition">TERMS OF USE</a>
						</li>
						<li>
							<a href="contact-us.html" class="transition">CONTACT US</a>
						</li>
						<li>
							<a href="get-help.html" class="transition">GET HELP</a>
						</li>
					</ul>
				</div>
				<div class="social_links">
					<ul>
						<li>
							<a href="javascript:;" class="transition">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="transition">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="transition">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="transition">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="transition">
								<i class="fab fa-google-plus-g"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/Popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/function.js"></script>




</body>
</html>